@model List<Products>

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Dashboard/_Layout.cshtml";
    }
}

<h2>Products</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get">
    <div class="input-group mb-3">
        <input type="text" id="searchString" name="searchString" class="form-control" placeholder="Search" value="@Context.Request.Query["searchString"]">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

@if (Model != null && Model.Any())
{

        string searchString = Context.Request.Query["searchString"];
    var filteredProducts = Model.Where(p =>
   string.IsNullOrEmpty(searchString) ||
   p.Name.Contains(searchString) ||
   p.Price.ToString().Contains(searchString) ||
   p.SubCategory?.Category?.Name.Contains(searchString) == true).ToList();


    @if (filteredProducts.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image1</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr> 
            </thead>
            <tbody>
                @foreach (var product in filteredProducts)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>
                            <img class="rounded" src="@ImageHelper.GetImageLink(product.Image1, "products")" height="70" width="auto" asp-append-version="true" />
                        </td>
                        <td>@product.Price €</td>
                        <td>@product.Height x @product.Whidh</td>
                        <td>@product.Stock</td>
                        <td>@product.SubCategory?.Category?.Name</td>
                        <td>@product.SubCategory?.Name</td>
                        <td>@product.Status</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@product.Id">Details</a>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@product.Id">Edit</a>

                            @if(product.Status =="Inactive"){

                                  <a class="btn btn-primary" asp-controller="Products" asp-action="Active" asp-route-id="@product.Id">Active</a>
                            }else{
                                  <a class="btn btn-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                            }
                          
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Products found.</p>
    }
}
else
{
    <p>No Products found.</p>
}
